/* modal.style.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: #333;
}

.modal {
    background: #fff;
    width: 90%;
    max-width: 450px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.3s ease-out;
    position: relative;
    /* Adicionado para o posicionamento do botão */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 2px solid #f1f1f1;
    margin-bottom: 16px;
}

.header h2 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.closeButton {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #888;
    transition: color 0.3s;
}

.closeButton:hover {
    color: #e63946;
}

.content {
    font-size: 16px;
    color: #555;
    margin-bottom: 24px;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 12px;
}

.buttonClose,
.buttonConfirm {
    background-color: #e63946;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    width: 48%;
}

.buttonClose:hover,
.buttonConfirm:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}

.buttonClose:focus,
.buttonConfirm:focus {
    outline: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}